<div class="container-fluid serasa-padding-top-3">
  <div class="row">
    <div class="col-lg-1 col-md-12 col-sm-12"></div>
    <div class="col-lg-10 col-md-12 col-sm-12">
      <div class="text-center">
        <img class="social-profileImg" alt="" #image id="image" src="{{userProfile.profileImage}}"/><br>
        <h3 class="social-h3"><strong>{{userProfile.name}}</strong></h3>
        <p>{{userProfile.login.email}}</p>
      </div>
    </div>
    <div class="col-lg-2">
      <button 
        class="btn btn-sec"
        type="button" 
        #btnGoToPhotos
        id="btnGoToPhotos"
        (click)="goToPhotos();">
        Photos</button><br><br>
        <button 
        class="btn btn-sec"
        type="button" 
        #btnGoToFriends
        id="btnGoToFriends"
        [routerLink]="['/friends']">
        Friends</button>
    </div>
    <div class="col-lg-2">
      <button 
        class="btn btn-pri text-center"
        type="button" 
        #btnLogout
        id="btnLogout"
        [routerLink]="['/login']">
        Logout</button>
    </div>
  </div>
</div>