<div class="container-fluid serasa-padding-top-1">
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/initial_image.png" style="width: 200px; height: 200px;" alt=""><br><br>
      <button 
        class="btn btn-outline-dark text-center"
        type="button" 
        #btnLogout
        id="btnLogout"
        [routerLink]="['/login']">
        Logout</button>
    </div>
    <div class="col-lg-5 social-padding-top-2">
      <img src="assets/camera.png" style="width: 100px; height: 100px;" alt=""/><br>
      <button 
        (click)="addPhotos();" 
        style="background-color: #EA4335; border-color: #EA4335">
          <i class="fas fa-plus"></i>
          Add photos</button>
      <input id="openPhotoSelection" type="file" class="social-hide" accept=".png, .jpg, .jpeg" (change)="changeListener($event);"/>
      <button class="social-hide" (click)="sendData();" id="btnSendData"></button>
    </div>
    <div class="col-lg-1 social-padding-top-2">
      <a href="" style="color: #000000; font-size: 1.5rem" [routerLink]="['/home']">
        <i class="fas fa-arrow-alt-circle-left"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-9">
      <hr>
    </div>
  </div>
  <div class="row social-padding-top-2">
    <div class="col-lg-3"></div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-4 social-padding-bottom-1" *ngFor="let photo of photos">
          <img class="img social-padding-bottom-0" style="border-radius: 20px;" alt="" src="{{photo?.photo}}"/>
        </div>
      </div>
    </div>
  </div>
</div>