<div [ngClass]="'layout-content social-padding-top-3'">
  <div class="container-fluid serasa-padding-top-1">
    <div class="row">
      <div class="col-lg-1 hidden-sm hidden-md"></div>
      <div class="col-lg-2 col-md-12 col-sm-12">
        <img src="assets/initial_image.png" style="width: 200px; height: 200px;" alt=""><br><br>
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12">
        <ng-content></ng-content>
      </div>
      <div class="col-lg-1 hidden-sm hidden-md"></div>
    </div>
  </div>
</div>  