<div class="container-fluid serasa-padding-top-3">
    <div class="row">
        <div class="col-lg-1 col-md-12 col-sm-12"></div>
        <div class="col-lg-9 col-md-12 col-sm-12">
            <div class="text-center social-padding-top-3">
                <img class="social-profileImg" alt="" #image id="image" src="{{userProfile?.profileImage}}"/><br>
                <h3 class="social-h3"><strong>{{userProfile?.name}}</strong></h3>
                <p>{{userProfile?.login.email}}</p>
            </div>
        </div>
        <div class="col-lg-2 text-right social-padding-top-3">
            <a href="" style="color: #000000; font-size: 1.5rem" [routerLink]="['/following']">
                <i class="fas fa-arrow-alt-circle-left"></i>
            </a><br>
            <a href="" style="color: #000000; font-size: 1.5rem" [routerLink]="['/home']">
                <i class="fas fa-home"></i>
            </a><br>
            <a href="" style="color: #000000; font-size: 1.5rem" [routerLink]="['/']">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-12 col-sm-12"></div>
        <div class="col-lg-9 text-center">
            <button 
                class="btn btn-sec"
                type="button" 
                #{{userProfile?.login.email}}
                id="{{userProfile?.login.email}}"
                (click)="unfollowUser($event);"
                [routerLink]="['/following']">
                Unfollow
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <hr>
        </div>
    </div>
    <div class="row social-padding-top-3">
        <div class="col-lg-6">
            <h2 class="social-h2">Photos</h2>
            <div class="row text-center">
                <div class="col-lg-6 social-padding-bottom-1" *ngFor="let photo of photos">
                    <img class="img social-padding-bottom-0" style="border-radius: 20px;" alt="" src="{{photo?.photo}}"/>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="social-h2">Posts</h2>
            <div class="row text-center">
                <div class="col-lg-12 social-padding-bottom-1" *ngFor="let feed of feeds">
                    <div class="card" style="background-color: #EA4335; border: 1px solid;  width: 18rem;">
                        <div class="card-body text-left">
                            <h4 class="social-h4"><strong>{{feed?.userName}}</strong></h4>
                            <p>{{feed?.post}}</p>
                            <p>{{feed?.timePosted}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>