<div class="container-fluid serasa-padding-top-3">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <img class="social-profileImg" alt="" #image id="image" src="{{userProfile.profileImage}}"/>
      <h3 class="social-h3"><strong>{{userProfile.name}}</strong></h3>
      <p>{{userProfile.login.email}}</p>
      <button 
        class="btn btn-outline-dark"
        type="button" 
        #btnGoToPhotos
        id="btnGoToPhotos"
        (click)="goToPhotos();">
        Go to Photos</button>
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-lg-10">
          <textarea 
            class="form-control" 
            [(ngModel)]="model.post"
            #post="ngModel"
            id="post" rows="3">
          </textarea>
          <div class="social-padding-top-1">
            <button (click)="postText();" type="button" class="btn btn-primary btn-sm">Post</button>
            <button (click)="erasePostArea();" type="button" class="btn btn-danger btn-sm">Erase</button>
          </div>
        </div>
        <div class="col-lg-12" *ngFor="let feed of feeds">
          <h4 class="social-h4"><strong>{{userProfile?.name}}</strong></h4>
          <p>{{feed?.post}}</p>
        </div>
      </div>
    </div>
  </div>
</div>