<div class="container-fluid serasa-padding-top-3">
  <div class="row">
    <div class="col-lg-1 col-md-12 col-sm-12"></div>
    <div class="col-lg-2 col-md-12 col-sm-12">
      <img class="social-profileImg" alt="" #image id="image" src="{{userProfile.profileImage}}"/>
    </div>
    <div class="col-lg-5">
      <h3 class="social-h3 social-padding-top-2" style="font-family: chalkduster, fantasy"><strong>{{userProfile.name}}</strong></h3>
      <p>{{userProfile.login.email}}</p>
    </div>
    <div class="col-lg-2 text-right">
      <button 
        class="btn btn-sec"
        type="button" 
        #btnGoToPhotos
        id="btnGoToPhotos"
        (click)="goToPhotos();">
        Photos</button><br><br>
        <button 
        class="btn btn-sec"
        type="button" 
        #btnGoToFriends
        id="btnGoToFriends"
        [routerLink]="['/following']">
        Following</button>
    </div>
    <div class="col-lg-2">
      <a href="" style="color: #000000; font-size: 1.5rem" [routerLink]="['/']">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </div>
  </div>
  <div class="row social-padding-top-3">
    <div class="col-lg-1 col-md-12 col-sm-12"></div>
    <div class="col-lg-11 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-lg-10">
          <p class="social-padding-bottom-0"><strong>What's happening</strong></p>
          <textarea 
            class="form-control" 
            [(ngModel)]="model.post"
            #post="ngModel"
            id="post" rows="3">
          </textarea>
          <div class="social-padding-top-1">
            <button (click)="postText();" type="button" class="btn btn-sm" style="background-color: #fbbc05;">Post</button>
          </div>
          <hr>
        </div>
        <div class="col-lg-10" *ngFor="let feed of feeds">
          <div class="row">
            <div class="col-lg-6">
              <h3 class="social-h3"><strong>{{feed?.userName}}</strong></h3>
              <p>{{feed?.post}}</p>
            </div>
            <div class="col-lg-6">
              <h4 class="social-h4">{{feed?.timePosted}}</h4>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>